<!-- <div>
  <span>String Interpolation</span>
  <span>{{title}} is running.</span>
  <span>my  name is:{{firstName}}{{lastName}}</span>
  <span>addition of number is:{{n1+n2}}</span><br><br>
  <span>property binding:</span>
  <p><button [disabled]="isdisabled">this is property binding</button></p>
  <span>event binding:</span>
  <button (click)="greetUser()">event binding</button>
  <span>two way binding:</span>
  <input type="text" [(ngModel)]="title"/>
  <app-demo></app-demo>
  <app-customers></app-customers>
</div> -->
<app-patient-details></app-patient-details>
